#fullpage .section.evaluation[data-anchor="benchmark"] .popupDiv p {
    font-size: 1.5em;
    color: white;
}

#pop {
   z-index:2;
   position:absolute;
   width: 30vw;
   height: 25vh;
   top: 50%;
   left: 50%;
   display: none;
}

#pop #popFrame {
   position:absolute;
   border: 1px solid #333;
   text-align: center;
   background-color: rgb(224, 231, 115);
   top: -35%;
   left: -50%;
   width: 25vw;
   height: 15vh;
   padding: 8vh 4vw;
}

#pop #popFrame p.warning {
    margin-bottom: 15%;
    font-size: 0.85vw;
    color: red;
    margin-top: 2%;
}